<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"wens-consult","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">
    <!-- wp:pattern {"slug":"wens-consult/section-one"} /-->
    <!-- wp:pattern {"slug":"wens-consult/section-two"} /-->
    <!-- wp:pattern {"slug":"wens-consult/section-three"} /-->
    <!-- wp:pattern {"slug":"wens-consult/section-four"} /-->
    <!-- wp:pattern {"slug":"wens-consult/section-five"} /-->

<!-- wp:group {"metadata":{"name":"blog"},"align":"full","style":{"spacing":{"padding":{"top":"100px","bottom":"100px"},"blockGap":"40px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" id="blogs" style="padding-top:100px;padding-bottom:100px"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"40px"}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","style":{"border":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"},"top":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"},"width":"0px","style":"none"},"right":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"},"width":"0px","style":"none"},"bottom":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"},"width":"2px","color":"var:preset|color|custom-color-4"},"left":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"},"width":"0px","style":"none"}},"spacing":{"padding":{"bottom":"24px"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group alignwide" style="border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-top-style:none;border-top-width:0px;border-right-style:none;border-right-width:0px;border-bottom-color:var(--wp--preset--color--custom-color-4);border-bottom-width:2px;border-left-style:none;border-left-width:0px;padding-bottom:24px"><!-- wp:paragraph {"style":{"typography":{"fontSize":"16px","textTransform":"capitalize"}}} -->
<p style="font-size:16px;text-transform:capitalize"><strong>Insights for Modern Business Growth</strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:heading {"align":"wide"} -->
<h2 class="wp-block-heading alignwide">Thoughtful articles on strategy, design, and performance for informed business growth.</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:query {"queryId":40,"query":{"perPage":2,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]},"align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"layout":{"type":"grid","columnCount":2,"minimumColumnWidth":null}} -->
<!-- wp:group {"className":"wensa-prova-image-ani","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-neutral"}}},"spacing":{"padding":{"bottom":"20px"}},"border":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"}}},"textColor":"custom-neutral","layout":{"type":"constrained"}} -->
<div class="wp-block-group wensa-prova-image-ani has-custom-neutral-color has-text-color has-link-color" style="border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;padding-bottom:20px"><!-- wp:group {"style":{"border":{"radius":"10px","width":"2px"},"spacing":{"blockGap":"var:preset|spacing|40"}},"borderColor":"custom-color-4","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color has-custom-color-4-border-color" style="border-width:2px;border-radius:10px"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","height":"","overlayColor":"custom-ovelay","className":"blog-cover","style":{"border":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"}}}} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"8px","padding":{"right":"20px","left":"20px","bottom":"20px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:group {"className":"wens-prova-wrap","style":{"spacing":{"blockGap":"24px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group wens-prova-wrap"><!-- wp:group {"style":{"spacing":{"blockGap":"12px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"typography":{"fontSize":"14px"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":3,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-primary-color"}}},"typography":{"fontSize":"32px"}},"textColor":"custom-primary-color"} /-->

<!-- wp:post-excerpt {"excerptLength":20} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wens-consult","area":"footer"} /--></div>
<!-- /wp:group -->